* {
    font-family: 'Ubuntu', sans-serif;
}
p {
    font-size: 1.2rem;
}
.landing-hero {
    background-image: url("./images/hero-background.png");
    height: 84.4vh;
    z-index: 1;
}
.landing-logo {
    position: absolute;
    height: 5%;
    width: auto;
    margin: 5rem 0 0 12rem;
    z-index: 2;
}
.landing-image {
    max-height: 80%;
    max-width: 80%;
    margin: 8rem 0 0 5rem;
}
.mobile-menu {
    display: none;
    position: absolute;
    height: 3%;
    top: 3%;
    right: 8%;
}
.desktop-navbar {
    position: absolute;
    margin: 5rem 10rem 0 0;
    right: -2%;
    z-index: 2;
}
.desktop-navbar a {
    font-size: 1.4rem;
    outline:none;
    margin-right: 3rem;
    color: white;
}
.desktop-navbar a:hover {
    color: darkslategray;
    text-decoration: none;
}
.landing-message {
    position: absolute;
    right: -8%;
    top: 32%;
    z-index: 2;
    color: white;
}
.landing-message h1 {
    font-weight: bold;
    margin-bottom: 0%;
    font-size: 5rem;
}
.landing-message p {
    width: 55%;
    margin-bottom: 2.5rem;
    font-size: 1.6rem !important;
}
.btn {
    background-color: #ff0059 !important;
}