@media only screen and (max-width: 768px) {
    /* LANDING SECTION */
    .desktop-navbar {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
    .landing-logo {
        top: -5%;
        left: -18%;
    }
    .landing-image {
        /* display: none; */
        height: 42%;
        margin: 59% 0 0 50%;
    }
    .landing-message {
        left: 7%;
        top: 20%;
        width: 80%;
    }
    .landing-message h1 {
        font-size: 4.2rem;
        margin-bottom: 3%;
    }

    /* INFO SECTION */
    .info-box {
        margin: 3rem 3rem 3rem 3rem;
    }
    .info-box img {
        position: relative;
        padding: 2%;
    }
    .about-text {
        width: 80%;
        margin: 10%;
    }
    .info-about img {
        position: relative;
        display: block;
        background-color: white;
        margin: 10% 0 -10% 17%;
    }

    /* FEATURES SECTION */
    .grid-container {
        grid-template-columns: auto auto;
    }
    .grid-item {
        padding: none;
        width: 130%;
        margin-left: -30%;
    }
    .grid-item img {
        margin-bottom: 1.5rem;
    }
    .grid-item h3 {
        font-weight: bold;
    }
}