@media only screen 
    and (max-width: 400px) {
        /* LANDING SECTION */
        .landing-logo {
            margin: 16% 0 0 25%;
        }
        .landing-message {
            right: -8%;
            top: 15%;
        }
        .landing-message h1 {
            font-size: 2.5rem;
        }
        .landing-message p {
            width: 100%;
            margin-bottom: 2.5rem;
            font-size: 1.2rem !important;
        }
        .landing-image {
            margin: 23.5rem 0 0 8rem;
        }

        /* HIGHLIGHTS SECTION */
        .info-highlights {
            grid-template-columns: auto;
            padding: 20% 0;
        }
        .info-box {
            margin: 2rem 0 1rem 2rem;
            width: 85%;
        }
        .info-box h2 {
            font-size: 1.8rem;
        }
        .info-box img {
            float: left;
            margin: 4rem 2rem 5rem 0;
        }
        
        /* ABOUT SECTION */
        .info-about {
            height: 73rem;
        }
        .info-about img {
            height: 48%;
            position: absolute;
            right: 6%;
            top: 287%;
        }

        /* FEATURES SECTION */
        .info-features {
            padding: .5rem 1rem;
        }
        .feature-title {
            width: 95%;
        }
        .features-title h1 {
            margin: 3rem 2rem 0; 
        }
        .features-title p {
            padding: 5%; 
        }
        .grid-container {
            grid-template-columns: auto;
        }
        .grid-item {
            margin-left: -15%;
        }
    }