@media screen and (max-width: 1160px) {
    .nav-wrapper {
        grid-template-areas:
            "logo logo nav nav nav"
            "heroBanner heroBanner message message message"
            "heroBanner heroBanner message message message";
    }
    .nav-wrapper ul {
        text-align: center;
    }
    .landing-message {
        padding: 22% 0 0 10%;
    }
    .landing-message p {
        max-width: 80%;
    }
    .banner {
        padding: 22% 12% 0%;
    }
    .about-text {
        grid-template-columns: 1fr;
    }
    .imagery img {
        padding: 0;
        float: right;
    }
    .grid-container {
        column-gap: 2%;
        row-gap: 2%;
    }
}
@media screen and (max-width: 1880px) {
    .info-highlights {
        column-gap: 1%;
        padding: 0 3%;
    }
}
@media screen and (max-width: 1650px) {
    .info-highlights {
        column-gap: 0;
        padding: 0 0 3% 0;
    }
    .info-box {
        text-align: left;
        margin: 25% 5%;
    }
    .grid-item {
        padding: 0 15%;
    }
}
@media screen and (max-width: 1220px) {
    .info-highlights {
        grid-template-columns: 1fr;
    }
    .info-box {
        margin: 7% 15% 4% 18%;
    }
    .info-box img {
        margin: 3%;
    }
    .about-text {
        column-gap: 2%;
    }
}